.gbnews {
    height: 60px;
    width: 160px;
    cursor: pointer;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    size: 30px;
}

h1:hover {
    color: rgb(144, 73, 189);
    transform: scaleY(2);
    font-weight: 700;
}

.btn btn-dark:hover {
    transform: scaleY(4);
}